### Reading data from CSV files

In [1]:
df1 = spark.read\
          .option("header",True)\
          .option("inferSchema",True)\
          .csv("/Users/ahmed.uzzaman/Downloads/Stores.csv")

In [2]:
df2 = spark.read\
          .option("header",True)\
          .option("inferSchema",True)\
          .csv("/Users/ahmed.uzzaman/Downloads/Stores_new.csv")

## Data Comparison Using DataComPy with PySpark

In [4]:
import datacompy

base_df = df1
compare_df = df2

comparison = datacompy.SparkCompare(spark, base_df, compare_df, join_columns =   [('Store_ID', 'Store_ID')])

In [5]:
comparison.report()

****** Column Summary ******
Number of columns in common with matching schemas: 5
Number of columns in common with schema differences: 0
Number of columns in base but not compare: 0
Number of columns in compare but not base: 0

****** Row Summary ******

Number of rows in common: 896
Number of rows in base but not compare: 0
Number of rows in compare but not base: 3
Number of duplicate rows found in base: 0
Number of duplicate rows found in compare: 1

****** Row Comparison ******
Number of rows with some columns unequal: 5
Number of rows with all columns equal: 891

****** Column Comparison ******
Number of columns compared with some values unequal: 1
Number of columns compared with all values equal: 3

****** Columns with Unequal Values ******
Base Column Name  Compare Column Name  Base Dtype     Compare Dtype  # Matches  # Mismatches
----------------  -------------------  -------------  -------------  ---------  ------------
Store_Area        Store_Area           int            int                  891             5

## Data Comparison Using DataComPy with Pandas

In [7]:
## Converting Spark Dataframe to Pandas Dataframe

df1 = df1.toPandas()
df2 = df2.toPandas()

In [8]:
import datacompy

compare = datacompy.Compare(
    df1,
    df2,
    join_columns='Store_ID',
    abs_tol=0,
    rel_tol=0,
    df1_name='original',
    df2_name='new')

In [12]:
print(compare.report())

DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns  Rows
0  original        5   896
1       new        5   900

Column Summary
--------------

Number of columns in common: 5
Number of columns in original but not in new: 0
Number of columns in new but not in original: 0

Row Summary
-----------

Matched on: store_id
Any duplicates on match values: Yes
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 896
Number of rows in original but not in new: 0
Number of rows in new but not in original: 4

Number of rows with some compared columns unequal: 5
Number of rows with all compared columns equal: 891

Column Comparison
-----------------

Number of columns compared with some values unequal: 1
Number of columns compared with all values equal: 4
Total number of values which compare unequal: 5

Columns with Unequal Values or Types
------------------------------------

       Column original dtype new dtype  # Unequal  Max Diff  # Null Diff
0  store_area          int32     int32          5     111.0            0

Sample Rows with Unequal Values
-------------------------------

     store_id  store_area (original)  store_area (new)
398       399                 2063.0              2074
849       850                 2067.0              2079
540       541                 2214.0              2105
466       467                 2229.0              2118
91         92                 2169.0              2099

Sample Rows Only in new (First 10 Columns)
------------------------------------------

     store_id  store_area  items_available  daily_customer_count  store_sales
896       897        2151             1555                   566        65214
897       898        2163             2111                   497        32541
898       899        2174             1002                  1021        41256
899       899        2174             1002                  1021        41256